@font-face {
    font-family: 'Cantarell';
    src: url('/assets/fonts/cantarell.otf');
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); }
}

* {
    box-sizing: border-box;
}

html {
    color: #ffffff;
    background-color: #1e1e1e;
}

body {
    margin: 0;
    display: flex;
    width: 100%;
    font-family: 'Cantarell', sans-serif;
    height: 100vh;
    flex-direction: column; 
}
    body.-loading::after {
        content: '';
        display: block;
        position: absolute;
        width: 2rem;
        height: 2rem;
        left: calc(50% - 0.7rem);
        top: calc(50% - 0.7rem);
        border-radius: 50%;
        border: 0.2rem solid #272727;
        border-top-color: #ffffff;
        animation: 1s linear infinite spin;
    }

header {
    background-color: #303030;
    padding: 0.4rem;
    display: flex;
}

#back {
    display: block;
    margin-right: 0.4rem;
    border-radius: 0.5rem;
    flex-shrink: 0;
    cursor: pointer;
    width: 2.6rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1rem;
    background-image: url('/assets/icons/go-previous-symbolic.svg');
}
    #back:not([href]) {
        pointer-events: none;
        opacity: 0.5;
    }

    #back:hover {
        background-color: #3e3e3e;
    }
    
input[data-prompt],
input[type="file"] {
    display: none;
}

details {
    position: relative;
    width: 2.6rem;
    flex-basis: 2.6rem;
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: center;
    border-radius: 0.5rem;
    flex-shrink: 0;
}
    details:not([open]):hover {
        background-color: #3e3e3e;
    }
    
    details summary {
        cursor: pointer;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    details[open] summary {
        z-index: 10;
        background-image: none;
        background-color: transparent;
        position: fixed;
    }
        
    details menu > p {
        display: block;
        text-align: center;
        margin: 0.5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        opacity: 0.5;
    }

    details#playlist {
       	background-image: url('/assets/icons/view-list-symbolic.svg'); 
        margin-left: 0.5rem;
    }

menu {
    background-color: #383838;
    border-radius: 0.5rem;
    padding: 0.5rem;
    position: absolute;
    top: 2.6rem;
    right: 0;
    margin: 0;
    display: block;
    z-index: 20;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

menuitem {
    border-radius: 0.5rem;
    white-space: nowrap;
    display: block;
}
    menuitem:hover {
        background-color: #4c4c4c;
    }

    menuitem a,
    menuitem button,
    menuitem summary,
    menuitem label {
        text-align: left;
        color: inherit;
        text-decoration: none;
        padding: 0.5rem 1rem;
        width: 100%;
        margin: 0;
        border: 0;
        background-color: transparent;
        font: inherit;
        cursor: pointer;
        display: block;
    }

nav {
    border: 1px solid #454545;
    background-color: #444444;
    border-radius: 0.5rem;
    padding: 0.2rem;
    white-space: nowrap;
    overflow: auto;
    flex-grow: 1;
}
    nav a {
        font-weight: bold;
        color: #ababab;
        margin-right: 0.5rem;
        text-decoration: none;
        border-radius: 0.5rem;
        padding: 0 0.6rem;
        line-height: 2rem;
        display: inline-block;
        height: 2rem;
        position: relative;
    }
        nav a:first-of-type {
            width: 2.6rem;
            color: transparent !important;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 1rem;
            background-image: url('/assets/icons/user-home-symbolic.svg');
        }

        nav a:hover {
            background-color: #606060;
            color: #ffffff;
        }

        nav a:not(:last-child):after {
            position: absolute;
            content: '/';
            color: #a9a9a9;
            top: 0.1rem;
            line-height: 2rem;
            display: block;
            left: calc(100% + 0.1rem);
            font-weight: bold;
        }

        nav a:last-child {
            color: #ffffff;
            pointer-events: none;
            margin: 0;
        }

.button {
    padding: 0.6rem 1.2rem;
    text-decoration: none;
    font-weight: bold;
    background-color: #3584e4;
    border-radius: 0.5rem;
    cursor: pointer;
    color: #ffffff;
    display: block;
    border: 0;
    text-align: center;
}
    .button.-grey {
        background-color: #262626;
    }
        .button.-grey:hover {
            background-color: #303030;
        }

    .button.-fill {
        width: 100%;
    }

    .button:hover {
        background-color: #4990e7;
    }

.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
}
    .button-group .button {
        flex-grow: 1;
    }
        .button-group .button:not(:last-of-type) {
            margin-right: 0.5rem;
        }

main {
    padding: 1rem;
    overflow: auto;
    flex-grow: 1;
}
    main.folder {
        display: flex;
        flex-direction: column;
    }

    body.-loading header,
    body.-loading main {
        pointer-events: none;
        opacity: 0.5;
    }

.item {
    text-decoration: none;
    color: inherit;
    border-radius: 0.5rem;
}
    .item {
        display: flex;
        align-items: center;
        padding: 0.5rem;
    }

    .item:not(.-root):hover, .item.-focused:not(.-root) {
        background-color: #272727;
    }

    .item.-locked {
        pointer-events: none;
        opacity: 0.5;
    }

    .item details {
        position: absolute;
        left: 0;
        top: 0;
    }
        .item > details:not([open]) {
            display: none;
        }
            .item > details menu > p {
                display: none;
            }

        .item menu details {
            position: static;
            width: 100%;
            background-color: transparent !important;
        }
            .item menu details summary {
                position: static;
                background-color: transparent !important;
                padding-right: 2rem;
            }
            
            .item menu details menu {
                position: static;
                box-shadow: none;
                border-radius: 0;
                border-left: 1px solid #4c4c4c;
            }

    .item.-root {
        flex-grow: 1;
        flex-basis: 3rem;
        flex-shrink: 0;
    }

    .item menu {
        top: 0;
        right: auto;
        left: 0;
    }

@media(hover: none) {
    main > details:not([open]) summary {
        background-image: url('/assets/icons/open-menu-symbolic.svg');
    }

    .item details {
        display: block !important;
        position: static;
    }
        .item:not(.-root) details {
            width: 1rem;
            flex-basis: 1rem;
            height: 1rem;
            margin-left: 1rem;
        }
        
        .item.-root details:not([open]) {
            flex-basis: 100%;
            width: 100%;
            height: 100%;
        }

        .item details:not([open]) summary {
            background-image: url('/assets/icons/open-menu-symbolic.svg');
            display: block;
            background-size: 1rem;
            background-repeat: no-repeat;
            position: static;
        }
            .item:not(.-root) details:not([open]) summary {
                width: 1rem;
                height: 1rem;
                background-position: center;
            }
            
            .item.-root details:not([open]) summary {
                background-position: 50% 0.5rem;
            }
            
        .item details[open] summary {
            background-color: rgba(0, 0, 0, 0.5);
            background-image: none;
        }

        .item details[open] menu {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: calc(100% - 4rem);
            max-width: 40rem;
        }
        
        .item menu details:not([open]) summary::after {
            top: 2rem;
        }
        
        .item menu details[open] menu {
            position: static;
            transform: none;
            padding: 0.5rem;
            border: 0;
            width: 100%;
            background-color: #4c4c4c;
        }
            .item menu details[open] menu menuitem {
                border: 0;
            }
        
        .item details menu > p {
            display: block;
        }

        .item details menu a,
        .item details menu label,
        .item details menu summary,
        .item details menu button {
            text-align: center;
        }
}

.item-icon {
    display: block;
    text-align: center;
    position: relative;
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
    flex-shrink: 0;
}
    .item-icon img {
        object-fit: contain;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }

.item-preview {
    position: relative;
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
    flex-shrink: 0;
}
    .item-preview:not(.-loaded)::after {
        content: '';
        display: block;
        position: absolute;
        width: 1rem;
        height: 1rem;
        left: calc(50% - 0.7rem);
        top: calc(50% - 0.7rem);
        border-radius: 50%;
        border: 0.2rem solid #272727;
        border-top-color: #ffffff;
        animation: 1s linear infinite spin;
    }

    .item-preview img {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: contain;
        z-index: 1;
    }
        .item-preview:not(.-loaded) img {
            opacity: 0;
        }

.item-name, .item-size {
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.item-name {
    flex-grow: 1;
}

.item-size {
    margin-left: 3rem;
    flex-shrink: 0;
}
    @media(max-width:400px) {
        .item-size {
            display: none;
        }
    }

.media {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    position: relative;
    flex-direction: column;
}
    .media.-text {
        display: block;
    }

    .media a.nav {
        background-color: #332e30;
        position: absolute;
        height: 2.6rem;
        width: 2.6rem;
        text-align: center;
        padding: 0;
        z-index: 10;
        top: calc(50% - 1.3rem);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 1rem;
    }
        .media a.nav.-prev {
            left: 2rem;
            background-image: url('/assets/icons/go-previous-symbolic.svg');
        }

        .media a.nav.-next {
            right: 2rem;
            background-image: url('/assets/icons/go-next-symbolic.svg');
        }

        .media a.nav:hover {
            background-color: #4d494a;
        }

    .media > div {
        max-width: 40rem;
        width: 100%;
        font-size: 1rem;
        margin: 0 auto;
        line-height: 1.5;
    }

    .media object {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        top: 0;
        left: 0;
    }

    .media audio {
        width: 100%;                
        max-width: 40rem;
    }

    .media video {
        max-width: calc(100% - 2rem);
        max-height: calc(100% - 2rem);
        object-fit: contain; 
    }

    .media img {
        position: absolute;
        max-width: calc(100% - 2rem);
        max-height: calc(100% - 2rem);
        object-fit: contain; 
    }

    .media > a {
        margin-top: 1rem;
    }
